/*-------------------------*\
        行事曆分類預定 
\*-------------------------*/
會議 - #1883a8
活動 - #eb374f
請假 - #981a92
公告 - #1d69d1
出差 - #4d9427
例行 - #7f5921
訪客 - #e03c84
面試 - #f48a0b
維護 - #1c2188
聚餐 - #eee000
到職 - #91509d
展覽 - #93d546
追蹤 - #48cbdb
其他 - #767676


/*-------------------------*\
            版型顏色
\*-------------------------*/
topBar - 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b7fd9+0,106dca+100 */
    background: #2b7fd9; /* Old browsers */
    background: -moz-linear-gradient(top, #2b7fd9 0%, #106dca 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2b7fd9 0%,#106dca 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2b7fd9 0%,#106dca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b7fd9', endColorstr='#106dca',GradientType=0 ); /* IE6-9 */

日歷底色 - #0265c2
釘選顏色 - #fd3d3b
紅點 - #e60111 
取消底色 - #d3d3d3
取消標誌顏色 - #bababa
新增按鈕顏色 - #0066c0
底部iocn未選取顏色 - #acacac
底部iocn選取顏色 - #0065c2
上方日歷未被選取顏色 - #759ed3
上方日歷選取下底線顏色 - # fff200
確定按鈕 - #0066c0
取消按鈕 - #929292


/*-------------------------*\
           日顯示
\*-------------------------*/
日期下拉區塊底色 - #f1f1f1
文字 - #4a4a4a
當日區塊顏色 - #0066c0
點選區塊顏色 - #f1f1f1

/*-------------------------*\
        日顯示-便利貼
\*-------------------------*/
文字顏色 - #7a7979

/*-------------------------*\
        日顯示-條列式
\*-------------------------*/
文字顏色 - #7a797 9
紅點 - #e40213
直線線條 - #b5b5b5
灰色圈 - #bebebe 
置頂文字顏色(時間) - #378daf 
其他時間顏色&內文文字顏色 - #787878

/*-------------------------*\
           週顯示
\*-------------------------*/
單日行程 -topbar- #0065c1
單日行程 -節慶顏色- #ff3b3c

/*-------------------------*\
          選單年月日
\*-------------------------*/
文字顏色 - #2e7ac0
選取底色 - #0064bd

/*-------------------------*\
        會議室預約總攬
\*-------------------------*/
選取區塊 - #ff3b3c 
已預約區塊 - #5499da

/*-------------------------*\
            搜尋
\*-------------------------*/
搜尋框外底色 - #f2f2f2
搜尋框內底色 - #e3e3e3
搜尋框border - #a5a5a5
文字 - #8a8a8a
搜尋icon - #9b9b9b

/*-------------------------*\
           動態消息
\*-------------------------*/
icon - #0065c1
新增底色 - #eefefe

/*-------------------------*\
           會議
\*-------------------------*/
文字 - #0065c1
位置icon - #d42e2e 
人員icon - #2e9dec
資料icon - #1aa36f